/*Pop-up*/

#popup {
    background-color: rgba(48, 48, 48, 0.453);
    opacity: 0; 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.3s ease-in-out;
    z-index: -1;

    display: flex;
    align-items: center;
    justify-content: center;
}

#popup.open {
    opacity: 1;
    z-index: 5;
}

/*pagamento*/
#pagamento_con_stripe {
    background-color: rgb(255, 255, 255);
    color: #000000;
    padding: 30px 40px;
    border-radius: 10px;
    text-align: center;
    z-index: 999;
    box-shadow: 0 0 15px #142c71;
    font-family: Arial, sans-serif;
}

#pagamento_con_stripe input {
    width: 50%;
    margin: 10px;
    border-color: #142c71;
    border-radius: 5px;
    box-sizing: border-box;
}

.stripe-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

#pagamento_con_stripe button {
    background-color: #373737;
    text-decoration: none;                                                      /* Rimuove la sottolineatura dai link */
    color: rgb(255, 255, 255);                                                             /* Imposta il colore del testo su bianco */
    font-weight: bold;                                                          /* Rende il testo in grassetto */
    padding: 10px 15px;                                                         /* Aggiunge spazio interno ai bottoni */
    transition: 0.3s;                                                           /* Aggiunge una transizione fluida per il cambio di colore */
    margin: 20px;
    border-radius: 10px;
}

#pagamento_con_stripe button:hover {
    background: rgb(135, 135, 135);                                                        /* Cambia il colore di sfondo al passaggio del mouse */
    border-radius: 15px;
    cursor: pointer                                                         /* Arrotonda leggermente i bordi */
}