/* Imposta lo stile generale del corpo della pagina */
body {
    font-family: Arial, sans-serif;                                             /* Carattere del testo */
  /*background-color: #f4f4f4;*/                                                /* Colore di sfondo della pagina*/
  /*background-image: url('../img/registrazione/sfondo_registrazione.jpg');*/               /* Imposta l'immagine indicata dall'url come sfondo della pagina*/
  /*background-size: cover;*/                                                   /* Adatta l'immagine a tutta la pagina*/
  /*background-repeat: no-repeat;                                               /* Evita la ripetizione dell'immagine*/
    background-position: center;                                                /* Centra l'immagine*/
    display: flex;                                                              /* Uso del layout flexbox per centrare il contenuto */
    flex-direction: column;                                                     /* Imposta la direzione del flusso in verticale */
    justify-content: center;                                                    /* Centra orizzontalmente il contenuto */
    align-items: center;                                                        /* Centra verticalmente il contenuto */
   min-height: 100vh;                                                           /* Occupa almeno l'intera altezza della finestra */
    margin: 0;                                                                  /* Rimuove il margine predefinito del body */
}

/* Navbar */
nav {
    display: flex;                                                              /* Usa flexbox per allineare gli elementi */
    position: fixed;
    justify-content: space-around;                                              /* Distribuisce uniformemente gli elementi lungo la navbar */
    align-items: center;                                                        /* Centra verticalmente gli elementi */
    background-color: #ff0011;                                                  /* Imposta un colore arancione per la navbar */
    padding-top: 15px;                                                          
    padding-bottom: 15px;
    width: 100%;                                                                /* Occupa l'intera larghezza della pagina */
    top: 0;                                                                     /* Posiziona la navbar in cima alla finestra */
}


nav img{
    height: 40px;
    margin-left: 15px;
}

nav img:hover{
    cursor: pointer;
}

.navButton {
    text-decoration: none;                                                      /* Rimuove la sottolineatura dai link */
    color: white;                                                               /* Imposta il colore del testo su bianco */
    font-weight: bold;                                                          /* Rende il testo in grassetto */
    padding: 10px 15px;                                                         /* Aggiunge spazio interno ai bottoni */
    transition: background 0.3s;                                                /* Aggiunge una transizione fluida per il cambio di colore */
    margin-left: 10px;                                                          /* Aggiunge un po di spazio tra un bottone e l'altro */
    margin-right: 10px;
    border-radius: 10px;
}

.navButton:hover {
    background: #c50d00;                                                        /* Cambia il colore di sfondo al passaggio del mouse */
    border-radius: 5px;                                                         /* Arrotonda leggermente i bordi */
}

.navButton:nth-child(4) {                                                       /* Separa i primi 4 elementi e sposta il resto a destra */
    margin-right: auto;
}



.regcontainer, .logincontainer{
    width: 55%;
    background-color: rgba(0, 0, 0, 0.8);                                      /* Sfondo nero del contenitore con trasparenza al 20%*/
    border-radius: 5px;                                                         /* Angoli arrotondati */
    padding: 20px;                                                              /* Spaziatura interna */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);                                    /* Ombra leggera intorno al contenitore */
    width: 50%;
    color: white;
   
}

.regcontainer{
    margin-top: 80px;
}


#registrazione{
   display: grid;                                                              /* Usa il layout CSS Grid */
    grid-template-columns: 1fr 1fr;                                            /* Due colonne*/
    gap: 20px;                                                                 /* Spaziatura tra le colonne */
}


/* Stile per l'intestazione del form */
h2 {
    margin-bottom: 20px;                        /* Spaziatura inferiore */
    text-align: center;                         /* Allinea il testo al centro */
    color: white;                               /* Imposta il testo di colore bainco*/
}



/* Stile per i campi del form */
.form-fields {
    margin-bottom: 15px;                        /* Spaziatura inferiore tra i gruppi di elementi */
    display: flex;
    flex-direction: column;
}

/* Stile per le etichette del form */
label {
    display: block;                             /* Mostra l'etichetta come blocco */
    margin-bottom: 5px;                         /* Spaziatura inferiore rispetto all'input */
}

/* Stile per i campi di input del form */
input {
    width: 100%;                                /* Larghezza completa del contenitore padre */
    padding: 8px;                               /* Spaziatura interna */
    box-sizing: border-box;                     /* Include il padding e il bordo nella larghezza totale */
    border: 1px solid #ccc;                     /* Bordo grigio chiaro */
    border-radius: 4px;                         /* Angoli arrotondati */
}


/* Stile per il pulsante di invio */
input[type="submit"] {
    width: 50%;                                 /* Larghezza completa del contenitore padre */
    padding: 10px;                              /* Spaziatura interna */
    background-color: #5cb85c;                  /* Colore verde di sfondo */
    border: none;                               /* Rimuove il bordo */
    color: white;                               /* Colore del testo */
    border-radius: 4px;                         /* Angoli arrotondati */
    cursor: pointer;                            /* Cambia il cursore in una mano quando si passa sopra */
}
/*
input[type="submit"]:disabled{
                                
    background-color: #313131;    
                          
}
input[type="submit"]:disabled:hover{
    background-color: #313131; 
                         
    cursor: not-allowed;
}*/

.button-submit-container {
    display: flex;                              /* Attiva Flexbox */
    justify-content: center;                    /* Centra orizzontalmente */
    align-items: center;                        /* Centra verticalmente (se necessario) */
    margin-top: 20px;                           /* Aggiungi margine superiore per separare il bottone */
}



/* Stile per la colonna della foto profilo */
.form-photo {
    text-align: center;                         /* Centra i contenuti nella colonna della foto */
}

/* Stile per il pulsante quando l'utente passa sopra */
input[type="submit"]:hover {
    background-color: #72a472;                  /* Cambia il colore di sfondo a un verde più scuro */
}

/* Stile per il messaggio di successo o errore */
#message {
    margin-top: 20px;                           /* Spaziatura superiore */
    text-align: center;                         /* Allinea il testo al centro */
}

/* Stile per i messaggi di errore */
.error {
    color: red;                                 /* Colore rosso per evidenziare l'errore */
    font-size: 0.9em;                           /* Riduce leggermente la dimensione del testo */
}
/*stile per messaggio di conferma password uguali*/
.confirm{
    color: rgb(6, 167, 0);                                 /* Colore rosso per evidenziare l'errore */
    font-size: 0.9em; 
    margin-top: 2px;
    
}
/* Stile per il suggerimento sulla password */
.password-hint {
    font-size: 0.9em;                           /* Dimensione del testo ridotta */
    color: #666;                                /* Colore grigio per il testo */
    margin-top: 5px;                            /* Spaziatura superiore */
    display: none;                              /* Nascosto di default */
}
.vedoPassword{
    font-size: 10px;
    color: rgb(130, 130, 130);
    
}
/* Stile per la barra di forza della password */
.password-security {
    margin-top: 5px;                            /* Spaziatura superiore */
}

/* Stile generale per l'indicatore di sicurezza della password */
.password-security div {
    height: 5px;                                /* Altezza della barra */
    border-radius: 4px;                         /* Angoli arrotondati */
}

/* Stile per una password non sicura */
.weak {
    width: 33%;                                 /* Larghezza della barra debole (33% della barra totale) */
    background-color: red;                      /* Colore rosso per indicare poca sicurezza */
}

/* Stile per una password mediamente sicura */
.medium {
    width: 66%;                                 /* Larghezza della barra media (66% della barra totale) */
    background-color: orange;                   /* Colore arancione per indicare sicurezza media*/
}

/* Stile per una password molto sicura*/
.strong {
    width: 100%; /* Larghezza della barra forte (100% della barra totale) */
    background-color: green; /* Colore verde per indicare sicurezza elevata */
}

/* Stile per il contenitore della foto profilo */
.anteprima-foto {
    margin-top: 5px;
    position: relative;       /* Posizione relativa per il contenitore */
    width: 100%;              /* Larghezza massima disponibile */
    padding-top: 100%;        /* Altezza uguale alla larghezza (crea un quadrato) */
    overflow: hidden;         /* Nasconde le parti in eccesso dell'immagine */
    border: 2px solid #ccc;   /* Bordo opzionale */
    border-radius: 10px;      /* Angoli arrotondati (facoltativo) */
    box-sizing: border-box;   /* Include bordo e padding nella dimensione */
}

/* Stile per l'anteprima della foto profilo */
.anteprima-foto img {
    position: absolute;       /* Posizione assoluta all'interno del contenitore */
    top: 0;
    left: 0;
    width: 100%;              /* L'immagine occupa tutta la larghezza del contenitore */
    height: 100%;             /* L'immagine occupa tutta l'altezza del contenitore */
    object-fit: cover;        /* Adatta l'immagine al contenitore ritagliando le parti in eccesso */

}


/* Stile per l'area di drag and drop*/
.drop-area {
    border: 2px dashed #ccc;        /* Bordo tratteggiato */
    border-radius: 5px;             /* Angoli arrotondati */
    padding: 20px;                  /* Spaziatura interna */
    text-align: center;             /* Testo centrato */
    color: #aaa;                    /* Colore del testo */
    cursor: pointer;                /* Cambia il cursore a mano */
    transition: background-color 0.3s ease; /* Effetto visivo al passaggio del mouse */
}

.drop-area.drag-over {
    background-color: #f0f8ff;      /* Cambia colore quando un file è trascinato sopra */
    border-color: #0099ff;          /* Cambia il colore del bordo */
}



/* Stile per il video di background*/
video {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1;
    }


/* Responsive: una colonna su dispositivi stretti */
@media (max-width: 800px) {
    #main-container{
        margin-top: 95px;
        margin-bottom: 20px;
    }
    
    #registrazione{
        grid-template-columns: 1fr;       /* Disposizione a una sola colonna */
    }

    .form-photo {
        margin-top: 20px;                 /* Spaziatura tra i campi e la foto */
    }

    body {

        overflow-y: auto; /* Permette di scrollare la pagina */
    }
}

/*parte del css che gestisce i messaggi login e registrazione*/
div.messaggio-login, div.messaggio-registrazione{
    font-size: 12px;
    color: rgb(165, 165, 165);
    text-align: center;
    margin-top: 10px;
    
   
}

div.messaggio-login a, div.messaggio-registrazione a{
    color: rgb(129, 105, 150);
}

div.messaggio-login a:hover, div.messaggio-registrazione a:hover{
    color: rgb(216, 174, 255);
}

/*ERRORI MESS*/
.messageError{
    text-align: center;
    font-size: 0.8em;
    color: #a42222;
}
#messageAuth{
    text-align: center;
    font-size: 0.9em;
    color: #88c896;
}
